@import './custom.css';

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar:horizontal {
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #8885;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #8888;
}
